 {% load static %}
 <link rel="stylesheet" href="{% static 'measure/style.css' %}">

{% if ghp_user %}
    <table>
        <thead>
            <tr>
                <th colspan="10">{{ghp_user.first_name}} {{ghp_user.last_name}} Firing Log</th>
            </tr>
            <tr>
                <th>Piece #</th>
                <th>Date</th>
                <th>Dimensions</th>
                <th>Size</th>
                <th>Glaze Temp</th>
                <th>Price</th>
                <th>Course</th>
                <th>Bisque Fired</th>
                <th>Glaze Fired</th>
                <th>Damaged</th>
            </tr>
        </thead>
        {% for p in ghp_user_piece_list %}
            <tbody>
                <tr>
                    <td>{{ p.ghp_user_piece_id }}</td>
                    <td>{{ p.date|date:"M d Y" }}</td>
                    <td>{{ p.length }} x {{p.width}} x {{p.height}}</td>
                    <td>{{ p.size }} in<sup>3</sup></td>
                    <td>{{ p.glaze_temp }}</td>
                    <td>${{ p.price }}</td>
                    <td>{{ p.course }}</td>
                    <td>{{ p.bisque_fired }}</td>
                    <td>{{ p.glaze_fired }}</td>
                    <td>{{ p.damaged }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    
{% else %}
    <p>No user selected.</p>
{% endif %}

