{% load static %}
<link rel="stylesheet" href="{% static 'measure/style.css' %}">

{% load number_mult %}


{% if ghp_user %}
    <table>
        <thead>
            <tr>
                <th colspan="6">{{ghp_user.first_name}} {{ghp_user.last_name}} Account</th>
            </tr>
            <tr>

                {% if ghp_user_account.balance >= 0 %}
                    <th colspan="6">Balance: ${{ghp_user_account.balance}}  Last Update: {{ghp_user_account.last_update}}</th>
                {% else %}
                    <th colspan="6">Balance: -${{ghp_user_account.balance|mult:-1}}  Last Update: {{ghp_user_account.last_update}}</th>
                {% endif %}
            </tr>
            <tr>
               <th>Transaction #</th>
               <th>Date</th>
               <th>Amount (+ is credit, - is debit) </th>
               <th>Transaction Type</th>
               <th>Note</th>
               <th>Firing Log (if any)</th>
           </tr>
       </thead>
       {% for t in ghp_user_transactions %}
           <tbody>
               <tr>
                    <td>{{ t.ghp_user_transaction_number}}</td>
                    <td>{{ t.date}}</td>
                    {% if t.amount >= 0 %}
                        <td>${{ t.amount }}</td>
                    {% else %}
                        <td>-${{ t.amount|mult:-1 }}</td>
                    {% endif %}
                    <td>{{ t.transaction_type }} </td>
                    <td>{{ t.note }}</td>
                    {% if t.piece is not None %}
                        <td><a href="{% url 'measure:ghp_user_piece_view' ghp_user.id %}" > Firing Log </a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
               </tr>
           </tbody>
       {% endfor %}
   </table>
{% else %}
   <p>No user selected.</p>
{% endif %}

