<!DOCTYPE html>

<style>
table {
    border: 1px solid black;
    font: 16px "Open Sans", Helvetica, Arial, sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  th,
td {
  border: 1px solid black;
  padding: 4px 6px;
  text-align: center;
  vertical-align: center;

}

thead > tr {
    background-color: rgb(228, 240, 245);
  }
  
  thead > tr:nth-of-type(2) {
    border-bottom: 2px solid black;
  }
  

tbody > tr:nth-of-type(odd) {
    background-color: rgb(245, 245, 245);
}    
</style>

{% load static %}
<link rel="stylesheet" href="{% static 'measure/style.css' %}">

{% load list_index %}


{% if num_rows|length > 0 %}
    <table class="center index">
        <colgroup>
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
        </colgroup>    

        <thead class="index">
            <th colspan="7">User Accounts</th>
            <tr>
                <td colspan="1">#</td>
                <td colspan="1"></td>
                <th>Name</th>
                <td colspan="1"></td>
                <th>Name</th>
                <td colspan="1"></td>
                <th>Name</th>
            </tr>

        </thead>
        <tbody class="index">
            {% for idx in num_rows %}
                <tr>
                    <td> {{idx}} </td>

                    {% if forloop.counter0 == 0 %}
                        <th rowspan = {{ghp_user_admins|length}} colspan="1" vetical-align="center"> Admins</th>
                    {% endif %}
                    {% if forloop.counter0 < ghp_user_admins|length %}
                        {% with ghp_user_admins|list_index:forloop.counter0 as u %}
                        <td><a href="{% url 'measure:ghp_user_piece_view' u.id %}" > {{u.first_name}} {{u.last_name}} </a></td>
                        {% endwith %}
                    {% else %}
                        <td> </td>
                        <td> </td>
                    {% endif %}

                    
                    {% if forloop.counter0 == 0 %}
                        <th rowspan = {{ghp_user_staff|length}} colspan="1" vetical-align="center"> Staff</th>
                    {% endif %}
                    {% if forloop.counter0 < ghp_user_staff|length %}
                        {% with ghp_user_staff|list_index:forloop.counter0 as u1 %}
                        <td><a href="{% url 'measure:ghp_user_piece_view' u1.id %}" > {{u1.first_name}} {{u1.last_name}} </a></td>
                        {% endwith %}
                    {% else %}
                        <td> </td>
                        <td> </td>
                    {% endif %}
                    

                    {% if forloop.counter0 == 0 %}
                        <th rowspan = {{ghp_user_students|length}} colspan="1" vetical-align="center"> Students </th>
                    {% endif %}
                    {% if forloop.counter0 < ghp_user_students|length %}
                        {% with ghp_user_students|list_index:forloop.counter0 as u3 %}
                        <td><a href="{% url 'measure:ghp_user_piece_view' u3.id %}" > {{u3.first_name}} {{u3.last_name}} </a></td>
                        {% endwith %}
                    {% else %}
                        <td> </td>
                        <td> </td>
                    {% endif %}
                
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}