{% include "measure/base.html" %}

{% load static %}
{% load number_mult %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Modify Measuring Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'measure/style.css' %}">

    <style>
        table.center td.centertext {
            text-align: center;
        }

        th,
        td {
            padding: 0px 0px;
            text-align: center;
            vertical-align: center;
        }

        table {
            /* border: 1px solid black; */
            font: 16px "Open Sans", Helvetica, Arial, sans-serif;
            border-spacing: 0;
            border-collapse: collapse;
            /* width: 150px; */
        }

        th,
        td {
            /* border: 1px solid black; */
            padding: 4px 6px;
            text-align: center;
            vertical-align: center;
        }
        td.error {
            color: red;
        }
        button {
            background-color: #655F79;
            display: block;
            margin: 0 auto; /* Add this line to center the button */
            margin-top: 10px; /* Add this line to create space between the table and the button */
        }

        /* Mobile-friendly styles */
        @media only screen and (max-width: 600px) {
            table {
                font-size: 14px;
            }

            th,
            td {
                padding: 2px 4px;
            }

            input {
                width: 90%;
                padding: 4px;
                margin-bottom: 8px;
            }

            h1 {
                font-size: 20px;
                margin-bottom: 4px;
            }

            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 18px;
                margin-bottom: 2px;
            }

            p {
                font-size: 16px;
                margin-bottom: 8px;
            }

            select {
                width: 90%;
                padding: 4px;
                margin-bottom: 8px;
                font-size: 16px;
            }
        }
    </style>
</head>

<body>

    <form enctype="multipart/form-data" class="MeasureForm" method="POST">
        {% csrf_token %}
        {% if form.user_balance >= 25 %}
            <h2>Firing Account Balance: ${{form.user_balance}}</h2>
            <p><a href="{% url 'measure:user'%}">You can add funds here</a></p>
        {% elif form.user_balance >= 0 %}
            <h2>Firing Account Balance: ${{form.user_balance}}<h2>
            <p>Your account balance is getting low.</p>
            <p><a href="{% url 'measure:user'%}">Please consider adding funds here</a></p>
        {% elif form.user_balance >= -25 %}
            <h2>Firing Account Balance: -${{form.user_balance|mult:-1}}</h2>
            <h3>(Warning: Your account balance is negative. You will not be able to fire anything that brings it too negative)</h3>
            <h3><a href="{% url 'measure:user'%}">Please consider adding funds here</a></h3>
        {% else %}
            <h2>Firing Account Balance: -${{form.user_balance|mult:-1}}</h2>
            <h3>(WARNING: YOU CANNOT MEASURE OR FIRE ADDITIONAL PIECES UNTIL YOU ADD FUNDS TO YOUR ACCOUNT BALANCE)</h3>
            <h3><a href="{% url 'measure:user'%}">Please consider adding funds here<a></h3>

        <h3>Please note all measurement values will be rounded up to the nearest half inch, and the minimum firing fee is $1.</h3>

        <!-- <th colspan="6">Balance: -${{user_balance|mult:-1}}</th> -->
        {% endif %}
        {{ form.non_field_errors }}
        {{ form.field_errors }}
        {% for hidden in form.hidden_fields %}
            {% if hidden.errors %}
                <p>{{hidden.label_tag}}  {{hidden.errors}}</p>
            {% endif %}
            {{ hidden }}
        {% endfor %}
        <table class="center">
            <tr>
                <th>Piece Location</th>
                <td class="centertext">{{ form.piece_location }}</td>
                {% if form.piece_location.errors %}
                    <tr><td colspan="2" class="error">{{ form.piece_location.errors }}</td></tr>
                {% endif %}
            </tr>
            <tr>
                <th>Length</th>
                <td>{{ form.length}} </td>
                {% if form.length.errors %}
                    <tr><td colspan="2" class="error">{{ form.length.errors }}</td></tr>
                {% endif %}
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ form.width}}</td>
                {% if form.width.errors %}
                    <tr><td colspan="2" class="error">{{ form.width.errors }}</td></tr>
                {% endif %}
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ form.height}}</td>
                {% if form.height.errors %}
                    <tr><td colspan="2" class="error">{{ form.height.errors }}</td></tr>
                {% endif %}
            </tr>
            <tr>
                <th>Number Of Handles</th>
                <td>{{ form.handles}}</td>
                {% if form.handles.errors %}
                    <tr><td colspan="2" class="error">{{ form.handles.errors }}</td></tr>
                {% endif %}
            </tr>
            <tr>
                <th>Bisque Temp</th>
                <td class="centertext">{{ form.bisque_temp }}</td>
                {% if form.bisque_temp.errors %}
                    <tr><td colspan="2" class="error">{{ form.bisque_temp.errors }}</td></tr>
                {% endif %}
            </tr>
            <tr>
                <th>Glaze Temp</th>
                <td class="centertext">{{ form.glaze_temp }}</td>
                {% if form.glaze_temp.errors %}
                    <tr><td colspan="2" class="error">{{ form.glaze_temp.errors }}</td></tr>
                {% endif %}
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ form.price }}</td>
                {% if form.price.errors %}
                    <tr><td colspan="2" class="error">{{ form.price.errors }}</td></tr>
                {% endif %}
            </tr>
            <tr>
                <th>Course Number</th>
                <td>{{ form.course_number }}</td>
                {% if form.course_number.errors %}
                    <tr><td colspan="2" class="error">{{ form.course_number.errors }}</td></tr>
                {% endif %}
            </tr>

            <tr>
                <th>Note (Optional)</th>
                <td>{{ form.note }}</td>
                {% if form.note.errors %}
                    <tr><td colspan="2" class="error">{{ form.note.errors }}</td></tr>
                {% endif %}
            </tr>
        <!-- <tr>
            <th>Image {{form.image.errors}}</th>
            <td>{{ form.image }}</td>
            <td><img src ="{{ form.image.url }}"></td>
        </tr> -->
    </table>
        <button type="submit">Submit</button>


    </form>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var pieceLocationField = document.getElementById('id_piece_location');
            var glazeTempField = document.getElementById('id_glaze_temp');
            
            // Function to update glaze temperature options
            function updateGlazeTempOptions() {
                var selectedLocation = pieceLocationField.value;
                var selectedGlazeTemp = glazeTempField.value; // Get the initially selected glaze temp value
                var options = glazeTempField.options;
                
                // Clear existing options
                for (var i = options.length - 1; i >= 0; i--) {
                    glazeTempField.remove(i);
                }

                // Add new options based on the selected location
                if (selectedLocation === 'Greenwich') {
                    glazeTempField.add(new Option("None", "None"));
                    glazeTempField.add(new Option("Δ 10 (Cone 10)", "10"));
                    glazeTempField.add(new Option("Δ 6 (Cone 6)", "6"));
                    glazeTempField.add(new Option("Luster", "Lust"));
                    glazeTempField.add(new Option("Δ 04 (Cone 04)", "04"));
                } else if (selectedLocation === 'Chelsea') {
                    glazeTempField.add(new Option("None", "None"));
                    glazeTempField.add(new Option("Δ 6 (Cone 6)", "6"));
                }

                // Set the initially selected glaze temp value if the location is not changed
                if (selectedLocation === pieceLocationField.dataset.initialValue) {
                    glazeTempField.value = selectedGlazeTemp;
                }
            }

            // Run the function initially
            updateGlazeTempOptions();

            // Listen for changes in the piece location field
            pieceLocationField.addEventListener('change', updateGlazeTempOptions);
        });
        $(document).ready(function () {
            // listen for changes in the length, width, and height, handles, and glaze_temp, and bisque_temp fields
            // glaze_temp is a choice field, so it is a select element
            $('input[name=length], input[name=width], input[name=height], input[name=handles], select[name=glaze_temp], select[name=bisque_temp]').change(function () {

                // get the current values of length, width, and height
                var length = parseFloat($('input[name=length]').val());
                var width = parseFloat($('input[name=width]').val());
                var height = parseFloat($('input[name=height]').val());
                var handles = parseInt($('input[name=handles]').val());
                // if any of the values are NaN, return without continuing.
                if (isNaN(length)) {
                    return;
                    //length = 0.5;
                }
                if (isNaN(width)) {
                    return;
                    //width = 0.5;
                }
                if (isNaN(height)) {
                    return;
                    //height = 3.0;
                }
                if (isNaN(handles)) {
                    handles = 0;
                    //height = 3.0;
                }

                // round the values UP the minimum values 
                length = Math.max(0.5, length);
                width = Math.max(0.5, width);
                height = Math.max(3.0, height);



                // round the values UP to nearest 0.5 inch 
                length = Math.max(0.5, Math.ceil(length * 2) / 2);
                width = Math.max(0.5, Math.ceil(width * 2) / 2);
                height = Math.max(0.5, Math.ceil(height * 2) / 2);

                // round the values to 1 decimal places
                length = length.toFixed(1);
                width = width.toFixed(1);
                height = height.toFixed(1);
                // update the value of the length, width, and height fields
                $('input[name=length]').val(length);
                $('input[name=width]').val(width);
                $('input[name=height]').val(height);

                // get the current values of bisque_temp selection and convert it to a string
                var bisque_temp = $('select[name=bisque_temp]').val();

                // get the current values of glaze_temp selection and convert it to a string
                var glaze_temp = $('select[name=glaze_temp]').val();

                // calculate the new value of size
                var size = length * width * height;

                // update the value of the size field
                $('input[name=size]').val(size.toFixed(2));

                // Set the value of bisque_temp_scalar to be 1 if bisque_temp is not 'None'
                var bisque_temp_scalar = 0;
                if (bisque_temp != 'None') {
                    bisque_temp_scalar = 1;
                }

                // Set the value of glaze_temp_scalar to be 1 if glaze_temp is not 'None'
                var glaze_temp_scalar = 0;
                if (glaze_temp != 'None') {
                    glaze_temp_scalar = 1;
                }

                // pull the price per cubic inch from the django constants in constants.py dynamically
                var firing_price_per_cubic_inch = $('input[name=firing_price_per_cubic_inch]').val();
                var glazing_price_per_cubic_inch = $('input[name=glazing_price_per_cubic_inch]').val();

                // calculate the new value of price
                var price = firing_price_per_cubic_inch * size * bisque_temp_scalar + glazing_price_per_cubic_inch * size * glaze_temp_scalar + handles*0.10;

                // if price is less than 1.00, set it to 1.00
                if (price < 1.00) {
                    price = 1.00;
                }

                // update the value of the price field
                $('input[name=price]').val(price.toFixed(2));
            });
        });
    </script>
    <script>
        // prevent the enter key from submitting the form unless the user is on the submit button
        $(document).on("keydown", ":input:not(textarea):not(:submit)", function (event) {
            if (event.key == "Enter") {
                event.preventDefault();
            }
        });
    </script>
</body>

</html>