{% include "measure/base.html" %}

{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Modify Measuring Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'measure/style.css' %}">

    <style>
        table.center td.centertext {
            text-align: center;
        }

        th,
        td {
            padding: 0px 0px;
            text-align: center;
            vertical-align: center;

        }

        table {
            /* border: 1px solid black; */
            font: 16px "Open Sans", Helvetica, Arial, sans-serif;
            border-spacing: 0;
            border-collapse: collapse;
            /* width: 150px; */

        }

        th,
        td {
            /* border: 1px solid black; */
            padding: 4px 6px;
            text-align: center;
            vertical-align: center;

        }
    </style>
</head>

<body>

    <form enctype="multipart/form-data" class="MeasureForm" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.field_errors }}
        {% for hidden in form.hidden_fields %}
            {% if hidden.errors %}
                <p>{{hidden.label_tag}}  {{hidden.errors}}</p>
            {% endif %}
            {{ hidden }}
        {% endfor %}
        <table class="center">
            <!-- <tr>
                <th colspan="6">Measure A New Piece</th>
            </tr>
            <tr>
                <th>Length {{form.length.erros}} </th>
                <th>Width {{form.width.erros}}</th>
                <th>Height {{form.height.erros}}</th>
                <th>Glaze Temp {{form.glaze_temp.erros}}</th>
                <th>Size {{form.size.erros}}</th>
                <th>Price {{form.price.erros}}</th>
            </tr>
            <tr>
                <td>{{ form.length}} </td>
                <td>{{ form.width}}</td>
                <td>{{ form.height}}</td>
                <td class="centertext">{{ form.glaze_temp }}</td>
                <td>{{ form.size }}</td>
                <td>{{ form.price }}</td>
            </tr>
        </table> -->
        <tr>
            <th>Piece Location {{form.piece_location.erros}}</th>
            <td class="centertext">{{ form.piece_location }}</td>
        </tr>
        <tr>
            <th>Length {{form.length.erros}} </th>
            <td>{{ form.length}} </td>
        </tr>
        <tr>
            <th>Width {{form.width.erros}}</th>
            <td>{{ form.width}}</td>
        </tr>
            <th>Height {{form.height.erros}}</th>
            <td>{{ form.height}}</td>
        </tr>
        <tr>
            <th>Bisque Temp {{form.bisque_temp.erros}}</th>
            <td class="centertext">{{ form.bisque_temp }}</td>
        </tr>
        <tr>
            <th>Glaze Temp {{form.glaze_temp.erros}}</th>
            <td class="centertext">{{ form.glaze_temp }}</td>
        </tr>
        <tr>
            <th>Price {{form.price.erros}}</th>
            <td>{{ form.price }}</td>
        </tr>
        
    <!-- </table>
    <table class="center"> -->
        <tr>
            <th>Course Number {{form.course_number.erros}}</th>
            <td>{{ form.course_number }}</td>
        </tr>

        <tr>
            <th>Note (Optional) {{form.note.erros}}</th>
            <td>{{ form.note }}</td>
        </tr>

        <tr>
            <th>Image {{form.image.erros}}</th>
            <td>{{ form.image }}</td>
            <!-- <td><img src ="{{ form.image.url }}"></td> -->
        </tr>
    </table>
        <!-- <table class="center">
            <tr>
                <th colspan="6">Modify A Piece</th>
            </tr>
            <tr>
                <th>Length {{form.length.errors}} </th>
                <th>Width {{form.width.errors}}</th>
                <th>Height {{form.height.errors}}</th>
                <th>Glaze Temp {{form.glaze_temp.errors}}</th>
                <th>Size {{form.size.errors}}</th>
                <th>Price {{form.price.errors}}</th>
            </tr>
            <tr>
                <td>{{ form.length}} </td>
                <td>{{ form.width}}</td>
                <td>{{ form.height}}</td>
                <td class="centertext">{{ form.glaze_temp }}</td>
                <td>{{ form.size }}</td>
                <td>{{ form.price }}</td>
            </tr>
        </table>
        <table class="center">
            <tr>
                <th>Course Number {{form.course_number.errors}}</th>
                <td>{{ form.course_number }}</td>
            </tr>

            <tr>
                <th>Note (Optional) {{form.note.errors}}</th>
                <td>{{ form.note }}</td>
            </tr>

            <tr>
                <th>Image {{form.image.errors}}</th>
                {% if form.piece.image %}
                    <img src ="{{ form.piece.image.url }}" width="100" height="100">
                {% endif %}
                <td>
                {{ form.image }}
                </td>

            </tr>

        </table> -->
        <!-- {{ form.bisque_fired }}
            {{ form.glaze_fired }} -->
        <button type="submit">Submit</button>


    </form>


    <script>
        $(document).ready(function () {
            // listen for changes in the length, width, and height, glaze_temp, and bisque_temp fields
            // glaze_temp is a choice field, so it is a select element
            $('input[name=length], input[name=width], input[name=height], select[name=glaze_temp], select[name=bisque_temp]').change(function () {

                // get the current values of length, width, and height
                var length = parseFloat($('input[name=length]').val());
                var width = parseFloat($('input[name=width]').val());
                var height = parseFloat($('input[name=height]').val());

                // if any of the values are NaN, set them to the minimum
                if (isNaN(length)) {
                    length = 0.5;
                }
                if (isNaN(width)) {
                    width = 0.5;
                }
                if (isNaN(height)) {
                    height = 3.0;
                }

                // round the values UP to nearest 0.5 inch 
                length = Math.max(0.5, Math.ceil(length * 2) / 2);
                width = Math.max(0.5, Math.ceil(width * 2) / 2);
                height = Math.max(0.5, Math.ceil(height * 2) / 2);

                // round the values to 1 decimal places
                length = length.toFixed(1);
                width = width.toFixed(1);
                height = height.toFixed(1);

                // update the value of the length, width, and height fields
                $('input[name=length]').val(length);
                $('input[name=width]').val(width);
                $('input[name=height]').val(height);

                // get the current values of bisque_temp selection and convert it to a string
                var bisque_temp = $('select[name=bisque_temp]').val();

                // get the current values of glaze_temp selection and convert it to a string
                var glaze_temp = $('select[name=glaze_temp]').val();

                // calculate the new value of size
                var size = length * width * height;

                // update the value of the size field
                $('input[name=size]').val(size.toFixed(2));

                // Set the value of bisque_temp_scalar to be 1 if bisque_temp is not 'None'
                var bisque_temp_scalar = 0;
                if (bisque_temp != 'None') {
                    bisque_temp_scalar = 1;
                }

                // Set the value of glaze_temp_scalar to be 1 if glaze_temp is not 'None'
                var glaze_temp_scalar = 0;
                if (glaze_temp != 'None') {
                    glaze_temp_scalar = 1;
                }

                // pull the price per cubic inch from the django constants in constants.py dynamically
                var firing_price_per_cubic_inch = $('input[name=firing_price_per_cubic_inch]').val();
                var glazing_price_per_cubic_inch = $('input[name=glazing_price_per_cubic_inch]').val();

                // calculate the new value of price
                var price = firing_price_per_cubic_inch * size * bisque_temp_scalar + glazing_price_per_cubic_inch * size * glaze_temp_scalar;

                // if price is less than 1.00, set it to 1.00
                if (price < 1.00) {
                    price = 1.00;
                }

                // update the value of the price field
                $('input[name=price]').val(price.toFixed(2));
            });
        });
    </script>
    <script>
        // prevent the enter key from submitting the form unless the user is on the submit button
        $(document).on("keydown", ":input:not(textarea):not(:submit)", function (event) {
            if (event.key == "Enter") {
                event.preventDefault();
            }
        });
    </script>
</body>

</html>