

.center {
  margin-left: auto;
  margin-right: auto;
}

form {
  font-family:"Franklin Gothic Book", "Franklin Gothic", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

h1, p {
  font-family: "Franklin Gothic Book", Arial, Helvetica, sans-serif;
  text-align: center;
}

input {
  margin: 0.25em;
  outline: none;
  padding: 0.5em;
  border: none;
  background-color: rgb(225, 225, 225);
  border-radius: 0.25em;
  color: black;
} 

button {
  font-family: "Franklin Gothic Book", "Franklin Gothic", "Franklin Gothic Light", "Franklin Gothic Medium", "ITC Franklin Gothic", "Franklin Gothic Demi",  Helvetica, Arial, sans-serif;

  padding: 0.75em;
  border: none;
  outline: none;
  background-color: None;
  color: white;
  border-radius: 0.25em;
  font-weight: bold;
}



button.hidden {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}


button:hover {
  cursor: pointer;
  background-color: rgb(41, 4, 164);
}

table {
  font-family: "Franklin Gothic Book", "Franklin Gothic", "Franklin Gothic Light", "Franklin Gothic Medium", "ITC Franklin Gothic", "Franklin Gothic Demi",  Helvetica, Arial, sans-serif;
  color: black;
}